header {
    background-image: url(Imagen2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
    color: #151427ec;
    text-align: center;
    padding: 60px;
  }
body {
    font-family:Verdana, Tahoma, sans-serif;
    margin: 0;
    color: #3e363f;
    padding-top: 5px;
    text-align: center;
    background-color: rgba(175, 174, 174, 0.521)
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(Imagen2\ -\ copia.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 47%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .menu-item {
    text-decoration: none;
    color: #333;
    padding: 5px;
    display: inline-block;
  }
  .menu-item:hover {
    color: beige;
    background-color: #807d7d;
    transition: all 0.4s ease-in-out;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.644);
  }
  section {
    padding: 20px;
    padding-left: 16%;
    padding-right: 13%;
    margin-bottom: 20px;
  }
  #acerca-de-mi {
    text-align: justify;
  }
  #habilidades ul {
    padding: 0;
    list-style: none;
  }
  #experiencia ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #experiencia ul li {
    margin-bottom: 10px;
  }
  #proyectos ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#proyectos ul li a {
  text-decoration: none;
  color: #333;
}
#proyectos ul li a:hover {
  text-decoration: underline;
}
footer {
    background-image: url(Imagen2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 55%;
    color: #4e4e4e;
    text-align: center;
    padding: 10px;
  }
  .app:hover{
    background-color: #000000e1;
    border-radius: 20px;
    border-style: groove;
    box-shadow: 7px 7px 5px rgba(136, 127, 218, 0.644);
  }
  .sombra:hover{
    text-shadow: 7px 7px 5px rgba(44, 24, 223, 0.644);
  }
